* {
  font-family: "Montserrat", sans-serif !important;
}

.cert-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cert-desc:hover {
  white-space: pre-line;
  line-break: normal;
  overflow: visible;
  text-overflow: ellipsis;
}